html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  display: block;
  position: relative;
  padding: 0 1.25rem;
}

.logo-body {
  width: calc(62.5rem / 3);
  position: relative;
  height: auto;
  margin: 0;
}

.logo-letter {
  width: calc(9.5rem / 3);
  height: auto;
  position: absolute;
}

img {
  width: 100%;
  height: 100%;
}

#dial-1 {
  top: 0px;
  left: calc(8rem / 3);
}

#dial-2 {
  top: calc(9.875rem / 3);
  left: calc(28.625rem / 3);
}

.turn-zone {
  width: calc(8rem / 3);
  height: calc(10rem / 3);
  position: absolute;
  z-index: 2;
}

#one-4-r {
  left: calc(13rem / 3);
  top: 0;
  /*background-color: red;
  opacity: 0.2;*/

}

#one-4-l {
  left: calc(4.5rem / 3);
  top: 0;
  /*background-color: red;
  opacity: 0.2;*/
}

#one-2-r {
  left: calc(13rem / 3);
  top: calc(10rem / 3);
  /*background-color: yellow;
  opacity: 0.2;*/
}

#one-2-l {
  left: calc(4.5rem / 3);
  top: calc(10rem / 3);
  /*background-color: yellow;
  opacity: 0.2;*/
}

#two-4-l {
  left: calc(25rem / 3);
  top: calc(7rem / 3);
  height: calc(20rem / 3);
  z-index: 4;
  /*background-color: red;
  opacity: 0.2;*/
}

#two-4-r {
  left: calc(33.5rem / 3);
  top: calc(7rem / 3);
  height: calc(20rem / 3);
  z-index: 4;
  /*background-color: red;
  opacity: 0.2;*/
}

#two-2-r {
  left: calc(33.5rem / 3);
  top: 0rem;
  height: calc(34rem / 3);
  /*background-color: yellow;
  opacity: 0.2;*/
}

#two-2-l {
  left: calc(25rem / 3);
  top: 0rem;
  height: calc(34rem / 3);
  /*background-color: yellow;
  opacity: 0.2;*/
}